<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
  <head th:replace="/template.fragments/head :: head"> </head>

<body>
    <nav th:replace="/template.fragments/navbar :: nav"> </nav>
                    
        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Comentario</h5>
              <p class="card-text" th:text="${comentario.texto}"></p>
            </div>
          </div>
                
    
</body>

</html>